@font-face {
    font-family: "PressStart2P";
    src: url(/style/font.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin:0;
    background-color: black;
    font-family: "PressStart2P";
}

canvas {
    height: 100%;
    overflow: hidden;
    height: 100%;
    width:100%;

    /* Retro (Pixelated) Look */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.edit input {
    float:right;
}

img {
    position: absolute;
    bottom:10px;
}

.world-edit {
    background-color: white;
    position: absolute;
    width:300px;
    height:650px;
    top:20px;
    left:20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding:10px;
    border-color:black;
    border-width: 2px;
    border-style:solid;
    border-radius: 2px;
    image-rendering:optimizeSpeed;
    opacity: 0.8;
}

.world-edit:hover {
    opacity: 1;
}

#world-data {
    left: unset;
    right: 10px;
    height:150px;
}

.startForm {
    color:white;
    font-size: 20px;
    text-align: center;
    top: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
}

.startForm input {
    min-width: 30%;
    max-width:80%;
    height: 40px;
    font-size: 20px;
    font-family: "PressStart2P";
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.startForm h1 {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.bgImg {
    width: 100%;
    height: 100%;
    filter: blur(10px) brightness(50%);
}

.menu {
    background-color:black;
    color: white;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    text-align: center;
    display:none;
}

.menu a {
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:20px;
}


    .menu a:hover {
        color:white;
        text-decoration:none;
        border-color:white;
        border-width: 1px;
        border-style:solid;
        padding:10px;
    }